body{
    overflow: hidden;
}
#screan{
    position: relative;
    margin: auto;
    border: solid;
    border-color: brown;
    width: 99%;
    height: 800px;
    background-position: -120px;
    background-size: contain;
    background-image: url(fon_to_screan.jpg);
}
#control{
    bottom: 0;
    position: relative;
    margin: auto;
    border: solid;
    border-color: brown;
    width: 99%;
    height: auto;
}
#gunPlace{
    position:relative;
    top: 69%;
    margin-left: 7px;
    /*border: solid;
    border-color: brown;*/
    width: 99%;
    height: 50px;
}
#gun{
    
    background-image: url(gun_image.png);
    background-size: 50px;
    position: relative;
    /*border: solid;
    border-color: brown;*/
    height: 75px;
    width: 50px;
}
#projectile{
    background-image: url(puhpuhmazafaka.png);
    background-size: 25px 50px;
    position: relative;
    /*border: solid;
    border-color: rgb(255, 0, 0);*/
    height: 50px;
    width: 23px;
}
button{
    background-color: darkgoldenrod;
    margin: 20px;
    color: rgb(255, 0, 242);
    border-color: darkgoldenrod;
}
#divLeft0{
    border-color:blueviolet;
    border:solid;
    position:absolute;
    top: 50px;
    left: -140px;
    height: 50px;
    width: 116.5px;
    background-image: url(plane.png);
    background-size: 100%;
    transform: scale(-1, 1);
}
#divLeft1{
    position:absolute;
    top: 265px;
    left: -140px;
    border-color:blueviolet;
    border:solid;
    height: 50px;
    width: 116.5px;
    background-image: url(plane.png);
    background-size: 100%;
    transform: scale(-1, 1);
}
#divLeft2{
    position:absolute;
    top: 500px;
    left: -140px;
    border-color:blueviolet;
    border:solid;
    height: 50px;
    width: 116.5px;
    background-image: url(plane.png);
    background-size: 100%;
    transform: scale(-1, 1);
}
#divRight0{
    position:relative;
    right: -1905px;
    top: 50px;
    border-color:blueviolet;
    border:solid;
    height: 50px;
    width: 116.5px;
    background-image: url(plane.png);
    background-size: 100%;
}
#divRight1{
    position:relative;
    right: -1905px;
    top: 265px;
    border-color:blueviolet;
    border:solid;
    height: 50px;
    width: 116.5px;
    background-image: url(plane.png);
    background-size: 100%;
}
#divRight2{
    position:relative;
    right: -1905px;
    top: 500px;
    border-color:blueviolet;
    border:solid;
    height: 50px;
    width: 116.5px;
    background-image: url(plane.png);
    background-size: 100%;
}
.bt{
    margin: 8px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3c0715;
    border: none;
    border-radius: 0px;
    box-shadow: 0 5px #999;
}
.bt:hover{
    background-color: #4e0e28
}
.bt:active{
    background-color: #3b0b29;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}